footer .heart {
  animation-name: heartBeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #d6d6d6;
  margin: 0.5em 1em;
}

footer a {
  text-decoration: none;
  color: #83abce;
}

footer p {
  margin: 0.5em;
}

.icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

@keyframes heartBeat {
  0% {
    color: red;
  }
  25% {
    color: #b50000;
  }
  35% {
    color: red;
  }
  70% {
    color: red;
  }
  85% {
    color: #b50000;
  }
  100% {
    color: red;
  }
}
