.gallery {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.gallery .column {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  height: 100%;
}

.gallery .galleryImage {
  display: block;
  width: 100%;
  margin: 5px 0;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  cursor: zoom-in;
}

.loadingCube img {
  width: 100px;
  height: 100px;
  margin: 2em;
}
