:root {
  --spinner-size: 50px;
}

a {
  color: #bbb;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.content {
  display: flex;
  flex-direction: column;
  color: #e2e2e2;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  text-shadow: 0 0 1px black;
  font-size: 1.7em;
  padding: 1em 0.6em;
  color: #bbb;
}

.control:hover {
  color: white;
}

.close {
  align-self: flex-end;
  font-size: 2em;
}

.loading {
  position: absolute;
  border: none;
  width: var(--spinner-size);
  height: var(--spinner-size);
  top: calc(50% - calc(var(--spinner-size) / 2));
  left: calc(50% - calc(var(--spinner-size) / 2));
}

.photo {
  object-fit: contain;
  min-height: 150px;
  min-width: 150px;
  max-height: calc(100vh - 10em);
  max-width: calc(100vw - 10em);
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  :root {
    --spinner-size: 100px;
  }

  .control {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 500px) {
  :root {
    --spinner-size: 130px;
  }
}