.rotableText {
    display: flex;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    color: white;
}

.options {
    position: relative;
}

.optionEnter {
    float: left;
    transition: all 0.6s ease;
    transform: translateY(100%);
}

.optionEnter.optionEnterActive {
    transform: translateY(0);
}

.optionExit {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    transition: all 0.6s ease;
    transform: translateY(0);
}

.optionExitActive {
    transform: translateY(-100%);
}
