.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition-delay: 0.3s;
  transition: clip-path 0.8s ease;
}

.focus:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.15);
}

.focus {
  z-index: 1;
}
