.gallery {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.gallery .column {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.gallery .gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 5px 0;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal-content {
    position: relative;
    max-width: 70vw;
    max-height: 70vh;
}

.gallery .icon {
    font-size: 1.5em;
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    background: white;
    padding: 0 0.2em;
    cursor: pointer;
}

.modal-content img {
    max-width: inherit;
    max-height: inherit;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 500px) {
    .modal-content {
        position: relative;
        max-width: 80vw;
        max-height: 80vh;
    }    

    .gallery .icon {
        font-size: 2.2em;
    }
}