.rotable-text {
    display: flex;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    color: white;
  }
  
  .rotable-text .options {
    display: flex;
    flex-direction: column;
    padding-left: 0.3em;
    transition: all 0.8s ease;
    text-align: left;
  }