.rotable-text {
    display: flex;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    color: white;
    margin-top: 50px;
  }
  
  .rotable-text .options {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    transition: all 0.8s ease;
  }